<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.upload.mapper.UploadMapper">

    <select id="getLastUploadTime" resultType="java.lang.String">

        select upload_time from   upload order by  upload_time desc  limit 1

    </select>
</mapper>
